*, *::before, *::after {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
}

main {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  width: 800px;
  max-width: 80%;
  /* background-color: gray; */
  padding: 10px;
}

.confirm {
  border-top: 3px solid turquoise;
  padding: 10px;
  color: turquoise;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  border: 1px solid orange;
  background-color: turquoise;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
}

.btn:hover {
  border-color: turquoise;
  background-color: orange;
}

.start-btn {
  font-size: 1.5rem;
  padding: 10px 20px;
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}

.ul {
  list-style-type: none;
  padding: 0;
}

.li {
  font-size: 1.5rem;
  padding: 10px;
}

.li:nth-child(odd) {
  background-color: orange;
}

.input {
  margin-right: 10px;
  margin-bottom: 20px;
}